.container {
  max-width: 80%;
  margin: auto;
}
.card {
  width: 400px;
}
.space-vertical {
  padding: 20px 0;
}

.space-horizontal {
  padding: 0 20px;
}

*,
**,
*::before,
*::after {
  box-sizing: border-box;
}
