section{
    background: #f7fafa;
    /* padding: 90px 0 100px 0; */
}

.about{
    background-color: #f7fafa;
}

.about .columm{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.about .columm .title-text{
    text-align: center;
    justify-content: center;
}