.about{
    background-color: #f7fafa;
}

.about .title-text{
    text-align: center;
    padding: 90px;
}

.about .title-text h2{
    font-size: 36px;
    margin: 0;
}

.about .title-text p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}