section{
    background: #f7fafa;
    padding: 90px 0 100px 0;
}
.about{
    background-color: #f7fafa;
}

.about .title-text{
    text-align: center;
    padding: 90px;
}

.about .title-text h2{
    font-size: 36px;
    margin: 0px 0px 10px 0px;
}

.about .title-text p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 400;
    color: #7c8595;
}

/* .about .card-coutainer{
    display: flex;
    background-color: #fefefe;
}


.about .card-coutainer .card-title{
    text-align: center;
    width: 18%;
}
.card-wrapper{
    transition: transform 0.5s linear;
}
.card-wrapper:hover {
  border: 1px solid #27b36a;
  transform: scale(1.05, 1.05);
} */

.about{
    background-color:#f7fafa ;
}

.about .card-container{
    width: 50%;
}
.about .card-container .card-title {
    display: flex;
    justify-content: center;
}

.card-wrapper{
    background-color: #FeFeFe;
    text-align: center;
    transition: transform 0.5s linear;
    padding: 40px 15px 32px 15px;
    transition: all 1s;
    border: 1px solid #e5efff;
    border-radius: 8px 8px;
}

.card-wrapper:hover{
    border: 1px solid #27b36a;
    transform: scale(1.05, 1.05);
}

.about .card-container .card-title .card-wrapper i{
    margin-bottom: 25px;
    font-size: 60px;
    color: #27b36a;
}

.about .card-container .card-title .card-wrapper p{
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    font-family: 'Open Sans', sans-serif;
}

.about .card-container .card-title .card-wrapper h3{
    font-size: 22px;
    font-weight: 500;
    color: #292929;
    margin: 0px 0px 15px 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 26.4px;
}


@media (min-width: 1200px){
.about {
    max-width: 1140px;}
}